In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from datetime import timedelta
from datetime import datetime

In [3]:
data = pd.read_csv('data/2022.csv')

In [4]:
data = data[data['Actividad_Realizada'] == 'Exploración']
data['Resultado'].value_counts()

Resultado
Negativo      9393
Positivo       891
En proceso       9
Name: count, dtype: int64

In [5]:
data.drop(data[data['Resultado']=='En proceso'].index, inplace=True)

In [6]:
data_output = data[['Fecha','Latitud','Longitud','Resultado']]
data_output['Fecha'] = data_output['Fecha'].astype('datetime64[s]')
data_output['Fecha_inicio'] = data_output['Fecha'] - timedelta(days=96)
data_output

/var/folders/9n/kxcs2s054c32h_5hwhhg4bd40000gn/T/ipykernel_78844/433945542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_output['Fecha'] = data_output['Fecha'].astype('datetime64[s]')
/var/folders/9n/kxcs2s054c32h_5hwhhg4bd40000gn/T/ipykernel_78844/433945542.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_output['Fecha_inicio'] = data_output['Fecha'] - timedelta(days=96)

           Fecha   Latitud  Longitud Resultado Fecha_inicio
0     2022-07-29  20.54868 -89.93041  Negativo   2022-04-24
1     2022-10-31  20.54868 -89.93041  Negativo   2022-07-27
2     2022-06-28  20.54868 -89.93041  Negativo   2022-03-24
3     2022-06-14  20.54868 -89.93041  Negativo   2022-03-10
4     2022-01-31  20.54868 -89.93041  Negativo   2021-10-27
...          ...       ...       ...       ...          ...
11171 2022-11-10  21.14989 -89.24844  Negativo   2022-08-06
11172 2022-11-10  21.15384 -89.25343  Negativo   2022-08-06
11173 2022-11-10  21.15146 -89.23945  Negativo   2022-08-06
11174 2022-11-10  21.15626 -89.24965  Negativo   2022-08-06
11175 2022-11-10  21.14458 -89.25820  Negativo   2022-08-06

[10284 rows x 5 columns]

In [62]:
df = pd.read_csv('data/ndvi/ndvi_-87.783_21.02725.csv')
df['date'] = pd.to_datetime(df['date'],format='%Y%m%d')
out = df.set_index('date').asfreq('D', method='ffill').reset_index()
out.to_csv('x.csv')

In [82]:
idx = pd.date_range('2021-09-20', '2021-09-20')

def get_series(row,field_name,name,prefix):
    df = pd.read_csv('data/'+name+'/' + prefix + str(row['Longitud']) + '_' + str(row['Latitud']) + '.csv')
    df['date'] = pd.to_datetime(df['date'],format='%Y%m%d')  
    df = df.set_index('date').asfreq('D', method='ffill').reset_index()
    mask = (df['date'] > row['Fecha_inicio']) & (df['date'] <= row['Fecha'])
    df = df.loc[mask]
    list = df[field_name].tolist()
    
    return list

#get_series(data_output.iloc[0])['NDVI'].tolist()

In [83]:
#for index, row in data_output.iterrows():
#    print(get_series(row))

data_output['ndvi'] = data_output.apply(lambda row: get_series(row,'NDVI','ndvi','ndvi_'), axis=1)
data_output['LST_Day_1km'] = data_output.apply(lambda row: get_series(row,'LST_Day_1km','LST_Day_1km',''), axis=1)
#data_output['Lai'] = data_output.apply(lambda row: get_series(row,'Lai','Lai',''), axis=1)

data_output

/var/folders/9n/kxcs2s054c32h_5hwhhg4bd40000gn/T/ipykernel_78844/606373905.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_output['ndvi'] = data_output.apply(lambda row: get_series(row,'NDVI','ndvi','ndvi_'), axis=1)
/var/folders/9n/kxcs2s054c32h_5hwhhg4bd40000gn/T/ipykernel_78844/606373905.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_output['LST_Day_1km'] = data_output.apply(lambda row: get_series(row,'LST_Day_1km','LST_Day_1km',''), axis=1)

,Fecha,Latitud,Longitud,Resultado,Fecha_inicio,ndvi,size,LST_Day_1km
0,2022-07-29,20.54868,-89.93041,Negativo,2022-04-24,"[0.4257340133190155, 0.0507965832948684, 0.236...",10284,"[15616, 15616, 15356, 15356, 15219, 15219, 152..."
1,2022-10-31,20.54868,-89.93041,Negativo,2022-07-27,"[0.4915635287761688, 0.4915635287761688, 0.355...",10284,"[15017, 15017, 15017, 14959, 15169, 15037, 150..."
2,2022-06-28,20.54868,-89.93041,Negativo,2022-03-24,"[0.5638489723205566, 0.4382756650447845, 0.389...",10284,"[15124, 15216, 15274, 15274, 15449, 15449, 155..."
3,2022-06-14,20.54868,-89.93041,Negativo,2022-03-10,"[0.6587991714477539, 0.1531306356191635, 0.027...",10284,"[15364, 15364, 15364, 15106, 15195, 15195, 153..."
4,2022-01-31,20.54868,-89.93041,Negativo,2021-10-27,"[0.8667870759963989, 0.8507118225097656, 0.850...",10284,"[15006, 15010, 15010, 15087, 15052, 15042, 150..."
...,...,...,...,...,...,...,...,...
11171,2022-11-10,21.14989,-89.24844,Negativo,2022-08-06,"[0.8496165871620178, 0.2418414205312729, 0.000...",10284,"[15134, 15134, 15134, 15134, 15134, 15134, 150..."
11172,2022-11-10,21.15384,-89.25343,Negativo,2022-08-06,"[0.8439576625823975, 0.9882495999336244, 0.000...",10284,"[15119, 15119, 15119, 15119, 15119, 15119, 150..."
11173,2022-11-10,21.15146,-89.23945,Negativo,2022-08-06,"[0.8706939816474915, 0.3705322444438934, 0.004...",10284,"[15128, 15128, 15128, 15128, 15128, 15128, 150..."
11174,2022-11-10,21.15626,-89.24965,Negativo,2022-08-06,"[0.90575909614563, 0.6123194694519043, 0.00247...",10284,"[15119, 15119, 15119, 15119, 15119, 15119, 150..."
11175,2022-11-10,21.14458,-89.25820,Negativo,2022-08-06,"[0.858671247959137, 0.2600564956665039, 0.0023...",10284,"[15132, 15132, 15132, 15132, 15132, 15132, 151..."

In [84]:
data_output.to_csv('output.csv')